* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: inherit;
    background-color: #FFF3DF;
}

nav {
    list-style-type: none;
    display: flex;
    padding: 5px;
    background-color: white;
    border: 1px solid black;
    width: 100%;
}

nav li a {
    display: block;
    color: black;
    padding: 15px;
    text-decoration: none;
}

main {
    display: flex;
    flex: 1;
}

main div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.column {
    justify-content: space-between;
    margin: 20px;
    min-height: 100%;
    flex: 1 0 0;
}

.box {
    display: flex;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    background-color: #FFFDF9;
}

.fridge {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    min-width: 50%;
    padding: 15px;
}

.fridge-item {
    display: block;
    flex: 0 0 100px;
    height: 100px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
    flex-basis: calc(50%-20%);
}

#meal {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}

#search {
    display: block;
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: white;
}