* {
box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #111;
    font-size: 0.9rem;
    margin: 0;
    width: 100%;
    background-color: #FFF3DF;
}


nav {
    list-style-type: none;
    display: flex;
    font-size: 1.5rem;
    padding: 5px;
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: white;
    border-bottom: 1px solid #ccc;
  }
  
  .left a {
    margin-right: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .right button {
    margin-left: 10px;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: none;
  }
  
  .right .light {
    background: #f0f0f0;
    color: black;
  }
  
  .right .dark {
    background: black;
    color: white;
  }

  

main div {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

/* fridge pages */

figcaption cite a {
    color: inherit;
    font-style: normal;
    text-decoration: none;
}

.notif-column form {
    padding: 5px;
}

.notif-column input {
    width: 100px;
}

.container {
    display: flex;
}

.notif-column {
    flex: 0 0 20%;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.alert {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FFFDF9;
}

.fridge {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 50;
    padding: 15px;
    margin: 0 auto;
}

.fridge-column {
    flex: 1 0 50%;
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.fridge-item {
    flex-basis: 25%;
    width: 100%;
    height: auto;
    margin: 3px;
    padding: 1px;
    text-align: center;
    justify-content: center;
}

.fridge-item figure img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* explore page */

#meal {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgrey;
}

#search {
    display: block;
    width: 500px;
    margin: 20px auto;
    padding: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: white;
}

/* media queries */

@media (min-width: 768px) {
    html {
        height: 100%;
    }

    body {
        font-size: 1rem;
    }

    nav {
        font-size: 1rem;
    }
}